[submodule "source/segmentation"]
	path = source/segmentation
	url = https://github.com/ABI-Tutorials/DTP-Segmentation.git
[submodule "source/simulation"]
	path = source/simulation
	url = https://github.com/ABI-Tutorials/DTP-Simulation.git
[submodule "source/visualisation"]
	path = source/visualisation
	url = https://github.com/ABI-Tutorials/DTP-Visualisation
[submodule "source/modelconstruction"]
	path = source/modelconstruction
	url = https://github.com/ABI-Tutorials/DTP-ModelConstruction.git
[submodule "source/completeworkflow"]
	path = source/completeworkflow
	url = https://github.com/ABI-Tutorials/DTP-CompleteWorkflow.git
[submodule "source/opencor-tutorial"]
	path = source/opencor-tutorial
	url = https://github.com/ABI-Tutorials/CellML-OpenCOR-PMR.git
[submodule "source/projects/femurfitting"]
	path = source/projects/femurfitting
	url = https://github.com/ABI-Tutorials/DTP-Project-FemurFitting
